[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/ogre"]
	path = libs/ogre
	url = https://github.com/OGRECave/ogre.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
